[2014-07-11 15:57] mcampello opened #1 "Export with transparent background"
Hey man, great plugin, Thankx for the help.

Is there any way I can export my assets with a transparent background?

[2014-07-14 07:48] #1 closed, assigned to nobody

[2014-07-28 09:32] mrrocks opened #2 "Default size assumption should be MDPI (or customisable)"
At least, in Google we design using 1px = 1dp, MDPI.

[2014-09-10 07:59] sokratus opened #3 "While exporting the assets' bg is not transparent"
I've been getting this a lot lately. Anything can be done about it?

[2014-09-19 10:06] danijelgajan opened #4 "Exported file dimensions don't match the original"
I have an icon of 116 x 116 pixels in Sketch. After I export for iOS, for instance, I get an 84 x 84 pixels and 168 x 168 pixels image. What am I doing wrong?

[2014-09-26 13:51] #2 closed, assigned to nobody

[2014-12-03 14:31] jupelletier opened #6 "Do not work with Sketch 3.2"
Hi Geert !
Your plugin seams to not be compatible with Sketch latest update (3.2)
Nothing is exported and one of my layer is duplicated.

Best,
Julien

[2014-12-15 00:27] #6 closed, assigned to GeertWille

[2014-12-15 02:44] GeertWille opened #7 "Add support for configuring your own shortcuts"
Would be nice to be able to configure your own shortcuts.

[2014-12-15 08:17] stefandevo opened #8 "Extend to save splash / icons"
Hi Geert

It's probably not a huge change to be able to define all necessary icon and splash formats. It's not just scale then but rather define 76w, 114w, etc.
Idea is to have one Icon defined and then create all necessary icon formats for iOS, wp, Android.
Same goes with splash screens.
Thanks for considering this option and thanks for the fix of latest Sketch.

[2014-12-22 14:14] #3 closed, assigned to GeertWille

[2014-12-22 14:16] #4 closed, assigned to GeertWille

[2014-12-22 14:19] #8 closed, assigned to nobody

[2015-02-07 01:11] davidklaw opened #9 "Only exports to the same folder as the source file"
It seems to be doing this regardless of where I ask it to export to.

[2015-02-17 18:27] tripr commented on #9
same issue here

[2015-02-20 18:42] aalok8922 commented on #9
Same. It doesn't let me choose where I want the assets to save...
Doesn't even bring up a dialog

[2015-02-21 01:57] davidklaw commented on #9
@aalok8922 It requires that the file you're exporting from be saved first. If it's not you won't see a dialog or any sort of error message.

[2015-02-21 02:00] davidklaw commented on #9
I'm just sort of glancing through the code here but it looks like the file chooser isn't functional. The script saves the file's current working directory, asks the user for the directory of their choosing, but then goes ahead and saves processed slices to the current working directory.

[2015-02-21 02:54] aalok8922 commented on #9
Is there a fix to this?

Still not working. I saved my file and ran the plugin. Still no prompt. I checked the directory of where my file is saved: nothing there.

[2015-02-21 03:15] davidklaw commented on #9
@aalok8922 Open up Console.app and filter it for "sketch". If an exception is occurring you should see it there. Let us know what you see. Something like:

![image](https://cloud.githubusercontent.com/assets/467443/6312637/e7c80bb6-b94d-11e4-9028-94a6df170221.png)

[2015-02-21 03:23] aalok8922 commented on #9
The last 3 lines:
![image](https://cloud.githubusercontent.com/assets/10872275/6312665/1fef75be-b94f-11e4-98cd-3f05b0e01735.png)

[2015-02-21 03:34] davidklaw commented on #9
@aalok8922 Expand that exception there at the end

[2015-02-21 03:47] aalok8922 commented on #9
@davidklaw hmm, looks like the source url is funky? Thanks for your help, by the way.

![image](https://cloud.githubusercontent.com/assets/10872275/6312740/6640e144-b952-11e4-8ef0-062b1f0ed5d7.png)

[2015-02-21 03:55] aalok8922 commented on #9
I think I fixed the directory issue, but still getting the same result:
![image](https://cloud.githubusercontent.com/assets/10872275/6312761/851e49fc-b953-11e4-8fb8-62688a1d7baa.png)

[2015-02-21 04:03] davidklaw commented on #9
You might want to try downloading the plugin again and throwing a fresh copy of it in there.

[2015-03-09 13:47] GeertWille commented on #9
I'll try to fix this issue this week!

[2015-03-11 14:47] kjelleve opened #10 "Slicing a masked image results in a wrong size"
When slicing a group that contains a mask, if the masked image is larger than the mask the plugin will slice at the size of the masked image rather than the mask.

[2015-03-14 13:56] GeertWille commented on #9
Normally this issue has been fixed. Seems like I already has fixed it but didn't put it on here...

[2015-03-14 13:56] #9 closed

[2015-03-14 14:06] davidklaw commented on #9
Thanks @GeertWille :+1:

[2015-03-14 14:42] GeertWille commented on #10
Can you provide an example sketch file?

[2015-03-31 14:27] designbyjm opened #11 "Exporting bordered assets"
First off, you have to export the asset vs the artboard. This then causes an issue with any bordered assets.

Example: bucketloads-1.png is the artboard with assets on it.
![bucketloads-1](https://cloud.githubusercontent.com/assets/1541841/6921044/37e7c3b0-d790-11e4-9cf7-7f0d2fc7e429.png)

Example: bucketloads-2.png shows the artboard with the asset selected and you'll see that the coverage area i

[2015-04-04 22:50] AndreasBackx commented on #11
+1 having the same problem.

[2015-04-13 12:23] martinboerma opened #12 "Exporting drop shadow"
Hi,

Great plugin. I use it a lot. Thanks for that!!

The plugin seems to crop the object based on it's transform handles. The result is cropped drop shadows.

Here's an example;

![image](https://cloud.githubusercontent.com/assets/11924339/7115390/9ab44ace-e1e8-11e4-9fd0-2327b5b4cbb6.png)

Cheers
Martin

[2015-05-05 21:53] magillus opened #13 "Filenames of output files are not android resource friendly."
Is it possible to modify output filenames to match Java identifier restrictions.
Common for android are:
-start from a letter and no spaces allowed,
-only "_" (underline) character allowed from special characters
-all lowercase characters.

[2015-05-07 06:57] skalaloo opened #15 "Why do I export png, naming front more words "undefined""
？

[2015-05-08 06:26] GeertWille commented on #13
When there is a space in front of the layer name instead of changing the name to _layer_name.png just remove the first character if it's a space... Same for last character, so basically trim the layer name first.

[2015-05-08 06:28] GeertWille commented on #15
It's not clear to me what you are reporting... Can you be more in depth please?

[2015-05-08 07:08] skalaloo commented on #15
Sorry, my English is too bad :(

this is what i named [image: 内嵌图片 1]     and... [image: 内嵌图片 2]

what is it mean “underfined” ?

2015-05-08 14:28 GMT+08:00 Geert Wille <notifications@github.com>:

[2015-05-08 07:34] GeertWille commented on #15
Can you link to screenshots?

[2015-05-08 08:16] skalaloo commented on #15
I am back to you in GMAIL, ah, the picture was gone
![1](https://cloud.githubusercontent.com/assets/12291174/7532768/81801be6-f59d-11e4-89dd-e578a96dde55.png)
![2](https://cloud.githubusercontent.com/assets/12291174/7532769/8191bb80-f59d-11e4-9a83-bad309830ad0.png)

[2015-05-08 08:27] GeertWille commented on #15
Can you pull the new version and try again?

[2015-05-08 08:41] skalaloo commented on #15
that is OK! ilove u bro XD

[2015-05-08 08:42] #15 closed

[2015-05-08 08:43] GeertWille commented on #13
Also make sure [this issue](https://github.com/GeertWille/sketch-export-assets/issues/15) is fixed...

[2015-05-12 02:27] ened opened #16 "Android: Export folder specifics"
Given my project folder structure is like this:

[code]

Then it's not possible to export into the /app/src/main/res/ folder and have the assets placed directly in the appropriate drawable folders. Instead, the plugin will create another `/app/src/main/res/assets/android` folder and put things in there.

Another plugin (https://github.com/nickstamas/Sketch-Better-Android-Export) does the export wi

[2015-05-12 02:31] ened opened #17 "Android: Allow for MIPMAP export"
Given I want to export MIPMAP files (as outlined in https://androidbycode.wordpress.com/2015/02/14/goodbye-launcher-drawables-hello-mipmaps/)

Then I need to manually export the files using this plugin and place the icons in the mipmap folder in another step.

Is there a way to add a option for exporting into mipmap folders directly? (the semantics are the same, a in `mipmap-hdpi`, `mipmap-mdpi`,

[2015-05-13 09:34] GeertWille commented on #13
Thanks!

[2015-05-13 09:34] #13 closed

[2015-05-19 15:26] #16 closed

[2015-05-19 15:28] #7 closed

[2015-05-19 15:29] GeertWille commented on #11
@designbyjm, can you provide me a sample sketch file?

[2015-05-24 14:43] adominomono opened #19 "not working in 3.3.2, not doing anything"
i noticed it had:
Export iOS Assets.sketchplugin
now its:
Export iOS Assets.sketchscript

where do i put this? theres nowhere on my drive called
`~/Library/Application Support/com.bohemiancoding.sketch3/Plugins`directory

i always find it under revealer plugins anyway, but '.sketchscript', what is this?

frustrating.

installed 3.2.1 back down from 3.2.2 and still nothing. when i click 'export ass

[2015-05-26 13:14] GeertWille commented on #19
@adominomono I am sorry you are confused but Sketch recently introduced a [new plugin structure](http://bohemiancoding.com/sketch/support/developer/01-introduction/03.html)... Basicly .sketchscript is a folder containing all the code within. On a mac you can right click and press show contents to see whats in it.

How does this plugin work:
Make a selection of the layers that you want to export an

[2015-05-26 13:30] GeertWille commented on #19
I updated the README.MD accordingly so now installation should be more clear.

[2015-05-26 13:30] #19 closed

[2015-05-26 14:39] adominomono commented on #19
thank you Geert, sorry for the hassle, i'm a bit stupid :/ but think i have it now.

[2015-05-30 10:42] akoskinen commented on #11
https://www.dropbox.com/s/h3swx4nuxomz05y/border_clipping.sketch?dl=0
Here's an example file. There is a simple circle with a border. Just run your plugin on the circle and you'll see the issue with the border getting clipped. Of course we could all force ourselves to always use borders set to "inside", but that's not really what you'd call a solution.

[2015-06-01 11:09] #11 closed

[2015-06-01 11:10] GeertWille commented on #12
Is alse fixed after fixing #11 ...

[2015-06-01 11:10] #12 closed

[2015-06-02 12:01] ibanbe opened #20 "Could I customize default size assumption (MDPI) for a XHDPI for example?"

[2015-06-03 13:08] GeertWille commented on #20
Will be adding this soon!

[2015-06-03 14:24] ibanbe commented on #20
Yeah! I'll stay updated, thanks!!

*—Iban Beldarrain*
Graphic & UI designer
+34 685 502 251
www.ibanbeldarrain.com

2015-06-03 15:08 GMT+02:00 Geert Wille <notifications@github.com>:

[2015-06-22 19:06] caitlinosbahr opened #21 "Plugin will not install properly in Sketch 3.3.2"
Your install method works, however it is broken in Sketch Toolbox although it is listed there

[2015-06-23 23:38] bernatfortet commented on #21
Problems in 3.3.2 here too.

The plugin doesn't appear in the list.

Thanks

[2015-06-23 23:45] bernatfortet opened #22 "Export Based on slices"
It would be great to define the export region based on a slice, this way we can export transparent regions while seeing the boundries.

Thanks!

[2015-07-06 11:34] danpe commented on #21
:+1:

[2015-07-07 12:31] kabiruppal opened #23 "Cant seem to export"
Cant seem to export, after it asks for input in the case of android export it doesnt seem to export the assets. Have I installed it incorrectly?

[2015-07-07 13:53] GeertWille commented on #23
Did you select the layers you want to export?

[2015-07-07 17:24] kabiruppal commented on #23
Yes I did, it worked with one layer yesterday when it came to Android export. Today when I tried I couldn't get it to export for Android or iOS. Maybe I have installed the plugin incorrectly. I removed and re-installed but still nothing. It's even stopped asking me for the input now.

[2015-07-08 18:57] varunyellina commented on #17
@ened I made a fork of this project for personal use. I've included support for MIPMAP. Since I made it for personal use, I disabled prompt for prefix. I hope that doesn't put you away.

[2015-07-08 19:03] varunyellina commented on #22
@bernatfortet , I faced this issue. My hack is to create rectangle with required size and then remove its fill & border. Then I group the rectangle and my icon. Exporting the group using this plugin retains the dimensions of the rectangle and its transparency. I hope it works for you.

[2015-07-09 11:06] GeertWille commented on #22
@varunyellina that's exactly how you need to do it... Thanks for explaining! ;)

[2015-07-09 11:06] #22 closed

[2015-07-09 12:29] jansemka opened #24 "Exported assets go full tranzparent"
I installed the plugin by hand. The export works just fine all the assets will be exported but then suddenly all the assets are gone tranzparent seems like the plugin overwrite the allready exported files. I used masks to get correct sizes for all icons. It looks like when i use the masks for export the assets they will be tranzparent and the design will not appear. When I only choose the design l

[2015-07-13 08:51] #10 closed

[2015-07-13 08:52] GeertWille commented on #24
Does [this](https://github.com/GeertWille/sketch-export-assets/issues/22) answers your question?

[2015-07-13 09:19] jansemka commented on #24
THX, it does. I will try it out.

[2015-07-23 16:06] Nacho77 opened #26 "Doesn't seem to work with new version Sketch 3.3.3"
Hi, I'm trying to export some assets but when i go to the option "Export iOS assets" or "Export Windows assets" nothing seems to happen.

When clicking into "Export Android assets" appears the lightbox "User Input. Enter a prefix (like launcher, menu, dialog, etc.):" But after that, again, nothing seems to happen.

What it is wrong?

Thanks!

[2015-07-23 17:09] Nacho77 commented on #26
Sorry, It's working. Don't know what happened before

Thanks!

[2015-07-27 12:35] #26 closed

[2015-08-10 12:52] tafh opened #27 "masked area are considered causing unexpected large assets"
Somehow `absoluteInfluenceRect` (used in the `copyLayerWithFactor` method) is also regarding masked areas. Which cause unexpected larger images.
I currently 'solved' it by adding `[slice setShouldTrim: true];` to the `copyLayerWithFactor` method. But this of course might lead to problems for people using the transparant rectangle method to add some padding to assets.

Can someone confirm this prob

[2015-08-10 21:58] technosoul opened #28 "in Sketch 3.3.3, exported assets no longer have transparency...."
I did a re-install a few weeks back, of the plugin, and the problem went away.
It's just happened again though... assets with transparency in Sketch, come out opaue upon export.

[2015-08-10 22:15] technosoul commented on #28
Sorry / this isn't a bug... you actually have to deselect BG color on the Sketch artboard. Here's the forum discussion...

https://github.com/zmalltalker/sketch-android-assets/issues/16

[2015-08-10 22:15] #28 closed

[2015-08-13 09:00] martinboerma commented on #23
Plugin is not showing anymore. Tried installing it via Sketch Toolbox and direct copy to Plugin folder. In both cases the plugin dies not show up in Sketch 3.3.3 (12072).

Some weird stuff is  going on with the zmalltalker plugin as well. It shows up in the plugin list but simply does not execute.

Both plugins started this weird behaviour at the same time, couple of weeks ago.

Cheers,
Martin

[2015-08-13 09:18] GeertWille commented on #23
Mhhh I'll look into it... I know that Sketch changed his way of how plugins are packaged but I thought it would stay backwards compatible for a while...

[2015-08-13 10:02] martinboerma commented on #23
Funny thing is that it didn't occur just after an update but in between updates. But haven't found same issue with other plugins other that zmalltalker's export plugin and yours.

[2015-09-05 07:24] skalaloo opened #29 "it's didn't work in Version 3.3.3"
:(

[2015-09-09 20:02] #27 closed

[2015-09-09 20:07] #24 closed

[2015-09-09 20:08] GeertWille commented on #23
@martinboerma you still have problems with the plugin?

[2015-09-09 20:09] GeertWille commented on #29
what doesn't work? can you check your log files?

[2015-09-15 05:44] #29 closed

[2015-09-15 05:44] #23 closed

[2015-09-15 06:47] #20 closed

[2015-09-15 07:25] GeertWille commented on #21
Fixed!

[2015-09-15 07:25] #21 closed

[2015-09-15 11:09] varunyellina commented on #3
Although the plugin does an excellent job of exporting with transparency, you have to note that if your **Artboard** has _**Include in Export**_ selected along with _**Background Color**_, then your exports will no longer be transparent.

[2015-09-15 11:12] varunyellina commented on #22
Although the plugin does an excellent job of exporting with transparency, you have to note that if your **Artboard** has _**Include in Export**_ selected along with _**Background Color**_, then your exports will no longer be transparent.

[2015-09-15 11:39] GeertWille commented on #3
jup correct which is normal I guess? Since you've selected include in export and have a background...

[2015-09-16 11:05] varunyellina commented on #3
Yes, it is expected behaviour. But I didn't expect it to happen to icons in a mockup that had artboard's background.

[2015-09-16 11:37] GeertWille commented on #3
Thank you! +1

[2015-09-22 00:48] richiesun opened #30 "Have slice layer, doesn't export with its bounds."
Using Sketch 3.3.3 (12081). Not sure if bug or I'm doing something wrong. Slice layer is within group, size is bigger than icon. Clicking on Slice and using plugin, or clicking on group and using plugin results in the same export of only the icon shape, not the slice bounds.

[2015-09-22 08:26] GeertWille commented on #30
Thanks for reporting, I fixed it...

[2015-09-22 08:26] #30 closed

[2015-09-29 14:54] martinboerma opened #31 "The plugin does not appear in Sketch Plugin menu"
Hi Geert,

Using Sketch Toolbox the plugin will appear in the plugin folder but does not show in Sketch.

Any ideas?

Running Sketch version : Version 3.3.3 (12072)

Cheers,
Martin

[2015-09-30 09:42] GeertWille commented on #31
Hi Martin,

I tried installing it with Sketch Toolbox and it worked right out of the box so I don't know what is going wrong on your system... So let's try to solve it.

- Can you try a clean install of the plugin with Sketch closed
- Can you open up the "Console.app" of your mac and filter it on "Sketch".
- Press the "Clear display" button so we start with a fresh screen
- now open up sketch when

[2015-09-30 11:03] martinboerma commented on #23
Hi Geert, thanks for the quick response. I will apply your suggestions asap
and will report back.

Cheers,
Martin

On Tue, 15 Sep 2015 07:44 Geert Wille <notifications@github.com> wrote:

[2015-10-02 12:09] martinboerma commented on #31
Hi Geert,

Thanks for the quick response. Your suggestions worked. Installing it with Sketch closed did it.

Cheers,
Martin

[2015-10-02 13:31] GeertWille commented on #31
Allright!  No problem :)

[2015-10-02 13:31] #31 closed

[2015-10-05 07:23] longxianlin opened #32 "which base size to do design?"
i always choose default artboard, iOS6, 375 x 667
I saw somebody choose 750 x 1334, which is 2X

[2015-10-14 09:46] tvluong1988 opened #33 "Request for configurable export width and height"
Hi, is there a way to configure the plugin to export user-defined size for width and height? I looked through the script and it seems to only offer scaling. Thanks.

[2015-10-17 12:25] GeertWille commented on #33
what do you exactly mean? You can define the size of the asset by drawing an invisible rectangle?

[2015-10-17 13:35] tvluong1988 commented on #33
I have a background image at 960x640. I was hoping to modify your script to generate all the different device sizes (e.g. 1136x640, 2208x1242, 2048x1536, 1024x768), but your script only takes in only scale factor.

I hope that makes sense.

[2015-10-27 15:39] primax79 opened #34 "It exports the background even if unselected"
while exporting an object, it exports the background even if it's not selected

scenario =>  ![sketch](https://cloud.githubusercontent.com/assets/3628678/10763221/63311894-7cc9-11e5-9c86-dc6fa95c6ca6.png)

current export => ![error_android_fun](https://cloud.githubusercontent.com/assets/3628678/10763070/d72e9786-7cc8-11e5-8ff8-ba4f519321dd.png)

expected export => ![fun](https://cloud.githubuserco

[2015-10-29 12:12] julienpecorino opened #35 "Hidden layers"
Hello,
Firstly thanks for this plug-in, it's part of my workflow, without I couldn't imagine exporting all asset sizes required for Android by hand...

I have recently updated to Sketch 3.4 and since, when I select multiple assets for exporting only one stays visible and all other are hidden and not exported.

Thanks

[2015-11-02 13:31] martinboerma commented on #31
Hi Geert,

With Sketch version 3.4 I have the exact same issue again. Your plugin is not showing in the plugin list. Installing it with Sketch closed does not the trick this time. Installing other plugins is no problem at all.

Cheers,
Martin

[2015-11-03 08:27] GeertWille commented on #35
There seems to be a lot of issues regarding the new sketch version and we (developers) didn't got notified about any breaking changes... Right now Bohemian is trying to work out why a lot of the existing plugins don't work anymore. This Friday I'll look into the problem and hope that Bohemian by that time came with a clear guide of what breaking changes they made so I can fix the issues.

Thanks f

[2015-11-03 10:54] GeertWille commented on #34
Can you send me your (stripped) sketch file please with a dropbox link or some other service?

[2015-11-04 09:56] alpippan commented on #34
I can confirm having the same issue on 3.3.3 and 3.4.

Can't give you any further detailed information yet, as I switched my workflow from a distinct export artboard to an in-artboard export workflow for my current project.

At least I can also confirm it for other export plugins too -- and it might have been there for some time, which is, as far is I remember, my initial reason using a distinct e

[2015-11-04 10:42] primax79 commented on #34
try that
https://dl.dropboxusercontent.com/u/2554192/test.sketch

[2015-11-04 10:53] GeertWille commented on #34
@alpippan actually has a good point... Here at the office we also work with an artboard called "export" and the only thing it has are all the assets grouped so you can easily export the assets that are used in the whole project. I recommend this a lot since exporting assets from out of the screen context can indeed mess up your assets big time. @primax79 I will still look into the issue although I

[2015-11-09 14:53] martinboerma opened #36 "Intended that plugin trims transparent pixels?"
Hi,

Is it intended that the plugin trims transparent pixels?

Using Sketch 3.4 (15575)

Cheers,
Martin

[2015-11-10 21:54] hasslunsford commented on #36
Having this issue myself. Is this resolved by newer version of Sketch?

[2015-11-11 17:25] caitlinosbahr commented on #34
I'm also having this issue – big bummer because I'm often exporting white images and creating a separate artboard (which has a white background) makes this update more inconvenient than previous versions.

[2015-11-16 09:44] alex2web commented on #34
Same issue here :(

[2015-11-16 16:09] caitlinosbahr opened #37 "Android assets are not exporting at correct sizes"
With the "base density" setting @1x when designing at mdpi, the resulting assets are all too small – it appears to be 1/3 of the intended size. (eg. 24pt icon in sketch exports to 8px at mdpi).

[2015-11-17 09:33] igo903 commented on #34
same issue too in sketch 3.4.
it' will export png with the white background.
please help to fix it.

[2015-11-17 11:01] michailkouroupakis opened #38 "Sketch Version 3.4.1 (15681) Export Problem"
Sketch Version 3.4.1 (15681)
Export Problem

Action/Path: Change Density->@2x->Select Android Export->Select Folder->OK
Problem: The folder is empty with this version of sketch this plugin doesn't export anything

Thanks for your time :)
It will be a huge time saver if you fix this issue

[2015-11-18 10:46] narut88 commented on #34
Same issue with Sketch 3.4.2

[2015-11-20 08:01] spro77 commented on #34
yes, conform... 3.4.2

[2015-11-25 14:58] alex2web commented on #36
Same here :(

[2015-12-01 18:50] n8mills opened #39 "Background export"
option to not include background items with export (only layers in a group)

[2015-12-02 13:12] designedbyDC commented on #39
You could use this plugin while this issue is being resolved.
(https://github.com/designedbyDC/Asset-Export-for-iOS-and-Android)

[2015-12-02 13:12] designedbyDC commented on #34
You could use this plugin while this issue is being resolved.
(https://github.com/designedbyDC/Asset-Export-for-iOS-and-Android)

[2015-12-08 10:09] nielsbastian commented on #39
Yes, this please! Plugin won't listen to the 'Export group contents only' checkbox now...

[2015-12-16 22:11] JulieTorrisi opened #40 "Bug upload custom video"
Custom > Video > uploads video on its side.

When you post it goes right side up again.

![img_6570](https://cloud.githubusercontent.com/assets/16228132/11855371/d26c193c-a417-11e5-809c-580de735b4a9.PNG)

[2015-12-16 22:15] #40 closed

[2015-12-17 18:42] cleercode commented on #36
+1. I'm pretty sure the plugin used to not do this.

[2015-12-17 18:57] nielsbastian commented on #36
I'm not here to market other plugins, but this fork works great! :) https://github.com/designedbyDC/Asset-Export-for-iOS-and-Android

[2015-12-30 19:56] iamaaronmartin opened #41 "Hidden objects in layer groups are now ignored"
I used to have a hidden box layer in a layer group that sized and aligned my assets; now it is ignored and the asset is only objects that are turned on. Is this another wonder feature in 3.4 that they didn't tell anyone about?

[2016-01-04 16:14] GeertWille commented on #41
Is it possible to use a slice slayer instead?

[2016-01-04 16:52] GeertWille commented on #39
I'll add the hiding layer functionality again but the plugin will go little bit slower again then... Should work the same as "Export group contents only" only it's automatically done in code...

[2016-01-04 16:53] #39 closed

[2016-01-04 16:56] GeertWille commented on #36
I changed the plugin as stated in the [README](https://github.com/GeertWille/sketch-export-assets/blob/master/README.md) you need to use a SliceLayer if you don't want the plugin to trim the transparant pixels...

[2016-01-04 16:56] #36 closed

[2016-01-04 16:58] GeertWille commented on #38
Anyone else has tis issue? Can you retry and pull the code see or it works now?

[2016-01-04 16:59] GeertWille commented on #37
Can you send me an example sketch file having this issue?

[2016-01-04 17:00] #33 closed

[2016-01-04 17:15] michailkouroupakis commented on #38
Version 3.4.4 ---> Problem Solved
Version 3.4.1----> Problem  is still here

It is obvious that this is not plugin's problem but bohemian sketch bug

Solution: just update to latest version(for now) 3.4.4

I think sketch has a lot of bugs in the latest versions
Not so stable as in the past with bad ram usage

Thanks for your time
and sorry for false alert :(

[2016-01-04 17:15] #38 closed

[2016-01-04 17:41] iamaaronmartin commented on #41
Do you have specs on what my layer would have to be named? I tried "slice layer" already and it's ignored as well.

[2016-01-04 18:11] iamaaronmartin commented on #41
I see what you mean now, an actual Sketch slice. Wasn't this working without this in a previous build? I'd been successfully doing this for months without a slice layer.

[2016-01-05 08:35] GeertWille commented on #41
@iamaaronmartin yes it was working like that before but I changed it since some people wanted to trim transparant pixels and other didn't... Normally I fixed the problem that assets underneath your asset that will be sliced is included in the export when using a "Sketch slicelayer"... Can you confirm?

[2016-01-05 08:36] GeertWille commented on #34
Should be working again? Anyone can confirm?

[2016-01-05 08:37] GeertWille commented on #32
You can change the base size since previous update so you can choose :+1:

[2016-01-05 08:37] #32 closed

[2016-01-05 19:05] iamaaronmartin commented on #41
Using the Sketch slice layer does indeed include anything visually below the folder that is being exported.

[2016-01-06 09:15] GeertWille commented on #41
Did you update before answering?

[2016-01-06 19:54] richiesun opened #42 "Can't get android assets to export with padding, i.e. transparent space around the vector"
My notification-toolbar-icon is 24x24. The slice in the group is set to 24x24 transparent. The vector is 22x22. I want to export 24x24 but it continues to only do the 22x22. Not sure what I'm doing wrong.
![screen shot 2016-01-06 at 2 53 02 pm](https://cloud.githubusercontent.com/assets/2386540/12152971/69d16a7a-b485-11e5-86b7-441935543910.png)

[2016-01-06 20:08] richiesun commented on #37
Just did an uninstall and reinstall and it looks like the latest version of this plugin is exporting at bad sizes for Android @1x. Did not test iOS or windows.

[2016-01-06 20:13] richiesun commented on #37
Played around with switching base sizes and not it seems like its working fine now. Weird.

[2016-01-06 20:15] richiesun commented on #42
Did an uninstall/reinstall and it fixed the issue.

[2016-01-06 20:15] #42 closed

[2016-01-07 23:44] iamaaronmartin commented on #41
Updated to the latest plugin. Now the whole screen goes white and nothing is exported.

[2016-01-08 09:58] czak commented on #41
I believe I have the similar problem.

My file:

![screen shot 2016-01-08 at 10 52 16](https://cloud.githubusercontent.com/assets/14021/12195235/fa554564-b5f5-11e5-9a2d-72c842f688a5.png)

I want to export the icons **with transparent pixels intact** and I can't.
I also have a locked "Box" layer for sizing.

Tried the following:

* selecting the **artboard** - results in empty PNG files
* selecting

[2016-01-08 10:59] GeertWille commented on #41
Mhh weird... I just noticed I had sketch 3.4.2 installed and with that it worked fined... I updated to 3.4.4 now and I'll look into it...

[2016-01-20 14:27] m4mwilco commented on #37
I had the same problem, after changing the base dpi to 1 it was fine.
The [default](https://github.com/GeertWille/sketch-export-assets/blob/master/sketch-export-assets.sketchplugin/Contents/Resources/config.json) seems to be 3.

[2016-01-22 03:33] JonghoonKimUX opened #44 "suggestion."
Hi GeertWille
Thanks for the great app.
I was wondering instead having additional option to set density.
when user first to try export item, before ask prefix, can we add additional steps to set up density?
so,
export asset will have
step 1. set up density. ( can have option to not ask this on this file.)
step 2. set up prefix.
step 3. set up destination.

this will be improve user-ability of this

[2016-01-29 14:36] narut88 opened #45 "Export Android Assets don't work"
Still doesn't work. No folders, no PNG. With Sketch 3.5.1.

[2016-02-09 09:43] shahinlotfi commented on #45
I get the folders, and the files, at all relevant sizes, but the files are fully transparent / empty.

[2016-02-10 10:23] DavidMDC commented on #45
Doing some tests, the plugin only works if the element (group, layer...) is a direct child of an _Artboard_. In other case, some layers will be hidden. The easy workaround is to drag the element as a child of the _Artboard_.

Could you solve this to use the plugin in every group or layer, level independent?

[2016-02-11 07:25] marco-duckma commented on #34
Not working for me with sketch 3.5.2
Exported assets always have solid background even if the 'background color' option is not ticked and the  checkerboard is visible in the preview toolbar.

[2016-02-16 22:16] kmh808 commented on #45
Same issue here.  I try to export but get nothing.  Please try to fix, this plug-in concept is awesome and would help my team and many Sketch users, thanks!

[2016-02-18 06:13] gabrielsantos commented on #41
I have the same problem. I'm now forced to create a slice in every single icon (out of the box Sketch functionality).

[2016-02-21 14:22] #44 closed

[2016-02-21 14:23] #37 closed

[2016-02-21 14:23] GeertWille commented on #35
You still have this problem after todays update?

[2016-02-21 14:28] #17 closed

[2016-02-21 14:34] GeertWille commented on #45
The best way of working with this plugin is making sure you just use a "EXPORT" artboard with all assets on it and just running the plugin on that artboard.

[2016-02-21 17:30] ened commented on #17
Thank you! Very grateful for your help.

[2016-02-22 15:27] julienpecorino commented on #35
No issue anymore, thanks again for this great plug-in, great work!

[2016-02-22 15:45] #35 closed

[2016-02-23 10:43] frankydev commented on #45
DavidMDC workaround is the only way to work with this plugin.
I tried the flow suggested by GeertWille but still doesn't work.
Great idea, please keep on this amazing job/plugin! :)

[2016-03-03 22:56] VuongDung opened #46 "Export Missing 1 pixel?"
I have a background in sketch with resolution 750 & 1334  (pixel)
When i using export to IOS function
that setting base density is 1x
it export to file   bg.png with size 749x1334

Similar when export to Android

I think this is a bug

Please confirm
Thanks you

[2016-03-10 16:51] nilsborchers commented on #45
@shahinlotfi my problem exactly.

[2016-03-17 11:07] pandizajner opened #47 "Exporting with transparent background"
Since some time I have a problem with exporting assets. Despite the 'Background Color > Include in export' unchecked, all the assets are exported with white background. If I do it manually, it works well, but using this plugin, assets are always placed on white space.
Is there any way to fix that?

[2016-03-21 23:53] blynkkk opened #48 "Stopped working with Sketch 3.6.1 (26313)"
Thanks for a great plugin - saved a lot of time for us!

Was working flawlessly before that
Now nothing happens when I try to use it

Could you please check it.

Thanks!

[2016-03-24 06:05] jlorentzon commented on #48
Best plugin in my arsenal for sure. Thank you. I'm having the same problem with exporting as @blynkkk .

[2016-03-25 17:16] GeertWille commented on #48
It's working fine on my version of sketch which is 3.6.1. Can you link me to some example sketch file? Are you selecting a layer group and not just a layer to export?

[2016-03-25 17:18] GeertWille commented on #46
Did you try using a slice layer?

[2016-03-28 20:10] richiesun commented on #48
Same issue here. Export isn't working. Go to export Android assets and no files show up. 3.6.1. Anybody find a workaround?

[2016-03-28 22:26] rudacs commented on #48
Same problem

[2016-03-29 01:24] jlorentzon commented on #48
@richiesun I don't know if this is just because you didn't save your Sketch file before you tried to export.

[2016-03-29 01:50] richiesun commented on #48
@jlorentzon I tried a few things. Saving, uninstalling/re-installing, iOS and Android. I have an older file where the exports work. I'm working in a newer v2 file and it was outputting nothing.

[2016-03-29 03:06] jlorentzon commented on #48
@richiesun Yeah, me too. Tried everything. Maybe time to revert back to an older version as long as it doesn't mess up my new files...

[2016-04-13 16:22] bmueller opened #49 "File formats?"
Is it possible to edit the script so that I can export slices to PDF, SVG, etc instead of just PNG? I tried digging through the different scripts but couldn't find a way to switch the file type.

[2016-04-14 09:46] joanaraujo opened #50 "Stopped working with Sketch 3.7"
Hello Geert

Thank you for this awesome and most used plugin.

I'm having issues since Sketch updated to 3.7. Every time I try to export, output nothing at all.

Can you please try to fix it?
Thanks!

[2016-04-15 14:28] #50 closed

[2016-04-15 14:28] joanaraujo commented on #50
It's working! thank you!

[2016-05-05 06:27] spiritjp opened #51 "Export nothing with Sketch v3.7.2"
This is very useful tool. But it doesn't work well with Sketch v3.7.2. When I use Export Android Assets or Export iOS Assets, there is nothing be exported.

[2016-05-05 09:20] GeertWille commented on #48
Can some of you provide me with a file that's not working?

[2016-05-05 09:27] GeertWille commented on #46
Make sure you don't use half pixels also you can use a slicer layer if you still have a problem

[2016-05-05 09:27] #46 closed

[2016-05-05 09:40] GeertWille commented on #41
Should be fixed now

[2016-05-05 09:41] GeertWille commented on #45
I fixed it now... But now it becomes important that you use "asset artboards"

[2016-05-16 01:43] jlorentzon commented on #48
@GeertWille I updated the plugin (2.3) and it seems to work now. Thanks.

[2016-05-24 19:13] jairobjunior commented on #47
This is also happening on Sketch Version 3.8.1 (29687), it's actually getting whatever background color the asset is on top of.

[2016-06-01 14:21] halol commented on #47
Have to same issue in Version 3.8.3 (29802). It merges what's below the asset you want to export.

[2016-06-05 13:31] vibinr opened #52 "Let user type the baseDensity"
Why show a limited set of base densities to choose from? For example, I wanted to use 1.5x as my base density but the popup list doesn't have it.

[2016-06-09 08:59] elsenpan commented on #47
Have same issue in Version 3.8.3 (29802).

[2016-06-17 14:29] ntry commented on #47
Me too! So far not usable for me.

[2016-07-11 17:47] sleeke commented on #47
Same issue in e8b6cb9. Transparency is essential for exporting assets :(

[2016-07-18 11:52] ugulbiter opened #53 "Working on 1X (375 x 667) creates smaller exported assets"
Hello,

My base artboard size on Sketch is 1x, 375x667 pixels for iPhone6. However when I use the Sketch export assets, my exported assets become even smaller even though they should be bigger.

Before starting exporting which size should be the resolution of the the Sketch artboard?

Kindest Regards

[2016-08-07 15:08] robodean opened #55 "Export Group Contents Only"
It would appear that when exporting slices, the plugin does not respect if the slice is meant to export the group contents only. This is a showstopper if you have multiple groups with slices meant to only export the contents of the group the slice is in.

[2016-09-13 17:15] blynkkk commented on #55
+1
@GeertWille, thanks for such a helpful plugin!

Unfortunately I'm only capable of correct exporting from symbols page. Otherwise your plugin always exports assets with background, no matter what I do.

Please fix it when you can.

Thanks.

[2016-09-16 09:00] GeertWille commented on #55
@blynkkk make sure to opt-in for the beta on [sketchexporter.co](sketchexporter.co). This new plugin is based on this one and has a lot of improvements.

[2016-10-06 02:28] csky-ios commented on #55
I believe I have fixed this with pull request #56.

[2016-10-06 02:28] csky-ios commented on #34
I believe I have fixed this with pull request #56.

[2016-10-06 02:29] csky-ios commented on #51
This may be because you have to select a layer to get the export to work, and the alert when you don't have one is broken.  I fixed this alert in pull request #56.

[2016-10-06 02:29] csky-ios commented on #47
I believe I fixed this in pull request #56.

[2016-10-06 02:30] csky-ios commented on #45
I have made some changes that add commands to export all exportable layers.  The changes are in pull request #56.

[2016-10-25 10:06] MrLaziz opened #57 "Can't export with transparent background"
Hi,

Thank you so much about that plugin, But why can't export the images (symbol, group, vector) with transparent background, even I unchecked Include in export.

Kindly advice!

[2016-11-04 11:26] charlesmudy commented on #57
Yea, you will need to create a new artboard and copy/past those icons or whatever there. If necessary convert it to bitmap

[2016-11-09 08:01] poorfish opened #58 "Can't export with new version 41"

[2016-11-09 10:19] stefanspieler commented on #58
Same here. A fix would be appreciated

[2016-11-09 13:18] andreffernandes commented on #58
I really need a fix at this plugin

[2016-11-09 14:49] Mettegry commented on #58
Same problem here. Hoping for a quick fix.

[2016-11-10 13:09] perteraul commented on #58
Same here.

[2016-11-10 13:52] vloboda commented on #58
Same here :(

[2016-11-10 15:13] vic-tort commented on #58
Same here with 41. After choosing where to export nothing happens. Downgraded to Sketch 40.3 only because of this plugin :)

[2016-11-11 14:18] josephjpearce commented on #58
Same here.

[2016-11-11 22:35] oscarbicadaiii commented on #58
I love the new Sketch 41 version but without this plugin, I won't be upgrading. Hoping for a fix in the future. Thanks for your good work Sir!

[2016-11-13 12:04] GeertWille commented on #58
For now sign up [here](http://sketchexporter.co/). We will be rolling out to beta users in the next few weeks.

[2016-11-13 12:06] #45 closed

[2016-11-13 12:06] #51 closed

[2016-11-13 12:07] #48 closed

[2016-11-13 12:07] #47 closed

[2016-11-13 12:07] #41 closed

[2016-11-13 12:07] #34 closed

[2016-11-13 12:08] #49 closed

[2016-11-15 03:54] willizwx2015 commented on #58
Same here:(:(:(

[2016-11-15 16:00] ronaldo-getreveel commented on #58
Its not working.  Lets switch to another plugin.

[2016-11-15 19:20] charlesmudy commented on #58
So I managed to create a fix, you can the updated version [here](https://github.com/charlesmudy/sketch-export-assets). @GeertWille I didn't want to create a pull request, I'm not really a programmer ... I simply found the solution [here](https://github.com/zmalltalker/sketch-android-assets/blob/cd0bbcb52713b7f3ee033f073f5cde2719683ce8/Generate%20Android%20Assets.jstalk) and since yours supports mu

[2016-11-16 10:39] GeertWille commented on #58
Thanks for fixing it. Though I'm not going to merge it since it removes a lot of other logic that shouldn't be removed. I would suggest keep using 40.3 for a few more days/weeks and after that you probably have a beta invite for [my all new plugin](http://sketchexporter.co/). It's free, works for all major Sketch version and is a lot speedier than this one. Not to mention it will have much better

[2016-11-17 11:11] michailkouroupakis commented on #58
@charlesmudy i think there is still a problem with export with change settings. If i change @1x @2x @3x always the export sizes are same :(

[2016-11-18 02:15] willizwx2015 commented on #58
@charlesmudy can't change @1x @2x @3x always the export sizes are same :(

[2016-11-18 16:16] michailkouroupakis commented on #58
First of all i think that the correct implementation of a export plugin will be like that [](http://image.prntscr.com/image/98ec186c650644378366bb8f1e1e761a.png)   The new plugin it is not very usable :( @GeertWille and restrict options

[2016-11-18 16:29] GeertWille commented on #58
@michailkouroupakis we will be implementing a UI in the future. I know it restricts some options compared to this version but it will change over time.

[2016-11-21 21:18] ronaldo-getreveel opened #61 "Not able to export any slice and missing docs"
I'm not able to export any slice or group using the new version. No error are being shown.

I'm using sketch 41 and SketchExporter 0.3.2.

And there is no documentation about on how to use the plugin. Creating slices and grouping them and exporting the group are not possible.
I discovered that I must create a page called "slices" and a artboard named "jpg" or "png".

There is no documentation in h

[2016-11-22 21:37] annawchou commented on #61
i'm also having the same issues too. i try to export and no files show up anywhere after i upgraded to the latest sketch (41.4) i've been trying to export artboards like i have before and now it has stopped working. :/

[2016-11-22 21:38] annawchou commented on #58
i'm also having the same issues too. i try to export and no files show up anywhere after i upgraded to the latest sketch (41.4) now it has stopped working. :/

[2016-11-23 08:45] michailkouroupakis commented on #58
First of all we must be thankful for GeertWille i think the new plugin will be da best.
For now @annawchou @willizwx2015 @charlesmudy @josephjpearce @vic-tort @andreffernandes @stefanspieler @Mettegry i have found similiar plugins for export 1x 2x Android iOS. i know it is not the best possible solution but for now i thinks its ok!
https://github.com/nickstamas/Sketch-Better-Android-Export
https:/

[2016-11-23 08:57] GeertWille commented on #61
I don't think you got access to the beta did you? We send our beta users an email on how to use the plugin. Let me know with what email you signed up and maybe I can give you access as well.

[2016-11-23 09:45] GeertWille commented on #58
Right now we are running a beta for a reason... We want to gather feedback of you guys and change the product to fit your and our needs. So please if you think this plugin is useful try to look at the new one with an open mind and give us as much as feedback as you can (not here but on the fb page). And yes we will be adding a UI in the near future. Just give us some time :)

[2016-11-23 10:41] ronaldo-getreveel commented on #61
Yes I did.  Check the email  rrigoni at gmail.

I'm using the beta version but it still not working.

[2016-11-23 10:52] GeertWille commented on #61
I send you a mail...

[2016-11-23 10:52] #61 closed

[2016-11-23 12:10] mrfriki commented on #58
Any ETA for the new plugin or beta version? Just signed to the newsletter and I'm eager for more news :)

I don't care to wait since this is the best export plugin by far, Also I don't mind if it is become a paid plugin since it saves us dozens of hours of tedious work. However it would be cool to have an estimate of the time in order to evaluate our options in this idle time (we also have work to

[2016-11-23 12:14] GeertWille commented on #58
If you provide me with the name you signed up I can give you early access :)

[2016-11-23 12:21] mrfriki commented on #58
Hey, thanks for just fast answer! I signed as Rubén Santiago (Bitban). Thanks so much.

[2016-11-23 12:22] charlesmudy commented on #58
@GeertWille can I test it as well "Shina" ... signed up about a week ago

[2016-11-23 12:41] GeertWille commented on #58
@mrfriki @charlesmudy Okay, you'll be getting an email in about 30 minutes. Please if you have any questions or feedback there will be a link to a private facebook group in the email and also in the menu of the plugin. Do request access to the group so I can give you help there. I also try to fix this plugin so you can install them both and compare.

[2016-11-23 12:47] charlesmudy commented on #58
@GeertWille Thanks! Also if you can fix this one, it would be great as I don't want to keep patching my version. Some of us are using it on current project(s) and the updates just keeps adding un-necessary stuffs like /res/ folder, opening folders e.t.c. Its confusing my devs. All these features should be optional.

Looking forward to the new version

[2016-11-23 12:52] GeertWille commented on #58
@charlesmudy that's why we are creating a closed version based on the workflow in our company and on all your feedback ;)

[2016-11-23 14:14] #58 closed

[2016-11-23 14:48] GeertWille commented on #58
this plugin should be fixed now btw...

[2016-11-23 16:17] wscqs opened #62 "ask"
export all ios asset

warn:No exportable layers found.

And stop.

asking fix it

[2016-11-23 18:30] annawchou commented on #58
@GeertWille thanks for sending me the beta! I just downloaded it and it still doesn't work. Keeps giving me an error saying it couldn't find any slices.. also not sure why it needs to be a slice in order to be exported and why not just from an artboard such as before? thanks!

[2016-11-24 10:31] #55 closed

[2016-11-29 20:53] sophiamf opened #63 "unable to select idiom"
i need universal idiom. assets dont take m,t,u into account now

[2016-12-13 07:04] hanneskl opened #64 "Export stopped working"
I can select the folder where the files should go and hit "Open".

But no files get exported.

Used to work until a few days ago. Not sure, if related to an OS or Sketch Update.

Sketch 41.2
MacOS Sierra 10.12.1

[2016-12-14 13:12] emieldehaan commented on #64
Same here. Everything working one moment, everything stopped working the other. Did not update any component.

Folders get created, but folders remain empty.

Sketch 41.2
MacOS 10.12.1

[2016-12-15 07:34] GeertWille commented on #64
Weird, I'm using the same OS and Sketch version and everything seems to be working... Can you describe more in depth what's not working? Is it iOS export? Android export? ... Can you provide me a link to an example sketch file that doesn't seem to be working?

[2016-12-16 10:53] Adam-CS commented on #64
Same here, plugin says the slices have been exported but nothing seems to have happened.

Sketch 41.2 (35397)
MacOS 10.12.1

I quickly put toghether this sketch file that doesn't work as well:
https://dl.dropboxusercontent.com/u/58724361/Example%20Export.sketch

Thanks!

[2016-12-16 20:47] GeertWille commented on #64
Weird... For me it perfectly works. Can you check the log for any errors?
Follow the steps under [Reporting Bugs](https://www.sketchapp.com/support/faq/) and send me the output into a dropbox link please :)

[2016-12-20 20:27] hanneskl commented on #64
[sketch.logs.txt](https://github.com/GeertWille/sketch-export-assets/files/664678/sketch.logs.txt)

[2016-12-26 08:56] mustafaerturk commented on #64
Same issue. Asset folder created but exported image folders empty.

Sketch --> 41 (35326)
MacOS --> 10.12.2

[2016-12-26 14:56] GeertWille commented on #64
thanks @hanneskl but I forgot that in the new mac os the console has been changed. Can you look for this file and attach this instead please?

Try to remove it at first then use the plugin and then send it to me so I don't have to go through a whole lot of data 👍

`/Users/<username>/Library/Logs/com.bohemiancoding.sketch3/Plugin Output.log`

[2016-12-27 14:25] hanneskl commented on #64
Is empty.
![screen shot 2016-12-27 at 15 24 53](https://cloud.githubusercontent.com/assets/711168/21501491/ad90d5bc-cc48-11e6-8ed5-eebc7331a8b1.png)

I tried exporting just minutes before...

[2016-12-27 14:29] emieldehaan commented on #64
If it helps: I found (maybe part of) the problem. If I select the baseline to @1x, exporting works just fine. If I set it to @2x, however, assets are not exported.

[2016-12-27 14:33] GeertWille commented on #64
@emieldehaan surely helps... I'll look into it tonight!

[2016-12-29 18:13] DmitriyZaitsev opened #65 "Doesn't remember the previous path"
It's inconvenient to select path to project every time I need to export resources.

[2017-01-06 13:06] GeertWille commented on #64
Should be fixed...

[2017-01-06 13:06] #64 closed

[2017-01-06 13:07] #53 closed

[2017-02-15 21:27] durul opened #66 "Why can't export macOS icon ?"
Hello,

Thank You that plugin, But why can't export the macOS icon. ?

Kindly advice!

[2017-06-01 10:43] bomberstudios opened #68 "Support Sketch 45 plugin update system"
Hi there!

This is a quick note to remind you that Sketch 45 will include a plugin update system.

It would be awesome if you could add support to it (it's really easy!) before Sketch 45 comes out. Ideally, you should release an update for your plugin while we're still in Sketch 44, so your users will have a nice & easy experience when 45 is released.

For more details, please check http://sketchp

[2017-06-01 11:51] GeertWille commented on #68
Will do! I'm working on a complete rewrite ;)

[2017-07-04 09:30] michielverhaege opened #69 "App freezes on file dialog when exporting."
When I export all my slices (iOS or Android), the file dialog pops up.
After a few seconds, Sketch freezes. I can not save my slices and can't close the file dialog..
The only way out is to force quit and restart.
Any idea?

[2017-07-14 17:27] junenagy commented on #69
same, I selected export all ios assets and the file dialog froze and so did sketch.  If I select just one icon it worked.  I updated to the latest sketch version to see if that would help and still no luck.

[2017-07-20 08:50] Minishlink commented on #68
Hey @GeertWille, do you want some help doing this? Sketch freezes when using the plugin in v45 (cf. https://github.com/GeertWille/sketch-export-assets/issues/69 )

[2017-07-31 08:13] GeertWille commented on #68
Hey @Minishlink I'm not sure how many people still use this plugin but if you fix it for sketch v45 I'll gladly merge your pull request.

Thanks!

[2017-09-15 15:09] joey-harward commented on #65
I agree this would definitely enhance the experience.  Great plugin!

[2017-10-20 15:10] Peter-Barrett opened #70 "Crashes Sketch when exporting Android assets"
When exporting a pdf icon from Sketch for Android, Sketch crashes. Plugin works perfectly for iOS.